<header>
  <div>
    <div>
      <%= link_to "Home", root_path %>
      <nav>
        <ul >
          <li><%= link_to('Filbert', filberts_path) %> </li>
          <li><%= link_to('Flange', flanges_path) %> </li>
        </ul>
      </nav>
    </div>
  </div>
</header>